<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddStaffServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.AddStaffServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.EditStaffServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceAttendantServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.AddServiceAttendantServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServiceAttendantServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.EditServiceAttendantServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDeskAttendantServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.AddDeskAttendantServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDeskAttendantServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.EditDeskAttendantServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_servlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.Login_servlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServiceServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.RoomServiceServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_servlets2</servlet-name>
        <servlet-class>com.housekeeping.Servlets.Login_servlets2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomCleanerServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.RoomCleanerServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_servlets3</servlet-name>
        <servlet-class>com.housekeeping.Servlets.Login_servlets3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplaintBoxServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.ComplaintBoxServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInspectAttendantServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.AddInspectAttendantServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInspectAttendant</servlet-name>
        <servlet-class>com.housekeeping.Servlets.EditInspectAttendant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_servlets4</servlet-name>
        <servlet-class>com.housekeeping.Servlets.Login_servlets4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_servlets4</servlet-name>
        <servlet-class>com.housekeeping.Servlets.Logout_servlets4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoasterServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.AddRoasterServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoaster</servlet-name>
        <servlet-class>com.housekeeping.Servlets.EditRoaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLostAndFoundServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.AddLostAndFoundServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLostAndFoundServlets</servlet-name>
        <servlet-class>com.housekeeping.Servlets.EditLostAndFoundServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceAttendant</servlet-name>
        <servlet-class>com.housekeeping.Servlets.DeleteServiceAttendant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffAttendant</servlet-name>
        <servlet-class>com.housekeeping.Servlets.DeleteStaffAttendant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInspectAttendant</servlet-name>
        <servlet-class>com.housekeeping.Servlets.DeleteInspectAttendant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDeskAttendant</servlet-name>
        <servlet-class>com.housekeeping.Servlets.DeleteDeskAttendant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>com.housekeeping.Servlets.MailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStaffServlets</servlet-name>
        <url-pattern>/AddStaffServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffServlets</servlet-name>
        <url-pattern>/EditStaffServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceAttendantServlets</servlet-name>
        <url-pattern>/AddServiceAttendantServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServiceAttendantServlets</servlet-name>
        <url-pattern>/EditServiceAttendantServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDeskAttendantServlets</servlet-name>
        <url-pattern>/AddDeskAttendantServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDeskAttendantServlets</servlet-name>
        <url-pattern>/EditDeskAttendantServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_servlets</servlet-name>
        <url-pattern>/Login_servlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServiceServlets</servlet-name>
        <url-pattern>/RoomServiceServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_servlets2</servlet-name>
        <url-pattern>/Login_servlets2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomCleanerServlets</servlet-name>
        <url-pattern>/RoomCleanerServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_servlets3</servlet-name>
        <url-pattern>/Login_servlets3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplaintBoxServlets</servlet-name>
        <url-pattern>/ComplaintBoxServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInspectAttendantServlets</servlet-name>
        <url-pattern>/AddInspectAttendantServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInspectAttendant</servlet-name>
        <url-pattern>/EditInspectAttendant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_servlets4</servlet-name>
        <url-pattern>/Login_servlets4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_servlets4</servlet-name>
        <url-pattern>/Logout_servlets4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoasterServlets</servlet-name>
        <url-pattern>/AddRoasterServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoaster</servlet-name>
        <url-pattern>/EditRoaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLostAndFoundServlets</servlet-name>
        <url-pattern>/AddLostAndFoundServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLostAndFoundServlets</servlet-name>
        <url-pattern>/EditLostAndFoundServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceAttendant</servlet-name>
        <url-pattern>/DeleteServiceAttendant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffAttendant</servlet-name>
        <url-pattern>/DeleteStaffAttendant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInspectAttendant</servlet-name>
        <url-pattern>/DeleteInspectAttendant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDeskAttendant</servlet-name>
        <url-pattern>/DeleteDeskAttendant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>
     <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
